@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,400&display=swap');

html {
    font-family: 'Montserrat', Helvetica, Verdana, sans-serif;
}

body{
  letter-spacing: 0.1px;
  margin:0;
}

header{
    margin: 5%;
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo img{
  width: 64px;
}
  
nav a{
  color: black;
  text-decoration: none;
}

nav a:hover{
  color:#f39237;
  font-weight: bold;
}

nav ul{
  padding: 0;
}

nav li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
  }

 h1{
  font-size: 1.25em;
  font-weight:900;
  text-transform: uppercase;
  display: block;
  margin-left: 3%;
  margin-right: 5%;
  letter-spacing: -1px;

}

header::after{
  content: " ";
  height: 25px;
}

.presentation{
    background-color: #f39237;
    padding: 5%;
    font-size: 0.90em;
}

main{
  margin: 10%;
}

p {
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size:1.1em
}

/* footer */
footer{
  padding-left: 5%;
  background-color: #f39237;
  font-size: 0.70em;
}